<%- include('partials/header'); -%>

<header>
    <div class="homepage">
        <img src="/basketball.png" alt="">
      </div>
      <div class="headings">
        <p>put a board (CRUD)</p>

      </div>
</header>

<%- include('partials/footer'); -%>