<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/football.png" alt="smoothie recipe icon">
    <h4>Football</h4>
  </li>
  <li class="recipe">
    <img src="/tennis.png" alt="smoothie recipe icon">
    <h4>Tennis</h4>
  </li>
  <li class="recipe">
    <img src="/basketball.png" alt="smoothie recipe icon">
    <h4>Basketball</h4>
  </li>
  <li class="recipe">
    <img src="/badminton.png" alt="smoothie recipe icon">
    <h4>Badminton</h4>
  </li>
  <li class="recipe">
    <img src="/bowling.png" alt="smoothie recipe icon">
    <h4>Bowling</h4>
  </li>
  <li class="recipe">
    <img src="/climbing.png" alt="smoothie recipe icon">
    <h4>Rock Climbing</h4>
  </li>
</ul>

<%- include('partials/footer'); -%>