<%- include('partials/header'); -%>

<ul class="clubs">
  <li class="club">
    <a href="/football" >
      <img src="/football.png" alt="football icon">
    </a>
    <h4>Football</h4>
  </li>
  <li class="club">
    <a href="/tennis" >
      <img src="/tennis.png" alt="tennis icon">
    </a>
    <h4>Tennis</h4>
  </li>
  <li class="club">
    <a href="/basketball" >
      <img src="/basketball.png" alt="basketball icon">
    </a>
    <h4>Basketball</h4>
  </li>
  <li class="club">
    <a href="/badminton" >
      <img src="/badminton.png" alt="badminton icon">
    </a>
    <h4>Badminton</h4>
  </li>
  <li class="club">
    <a href="/bowling" >
      <img src="/bowling.png" alt="bowling icon">
    </a>
    <h4>Bowling</h4>
  </li>
  <li class="club">
    <a href="/climbing" >
      <img src="/climbing.png" alt="climbing icon">
    </a>
    <h4>Rock Climbing</h4>
  </li>
</ul>

<%- include('partials/footer'); -%>