<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
        <img src="/sports.png" alt="">
      </div>
      <div class="headings">
        <h2>Start Playing</h2>
        <h3>Find your favorite sports club</h3>
        <a href="/clubs" class="btn">View Clubs</a>
      </div>
</header>

<%- include('partials/footer'); -%>